body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

nav {
  height: 15vh;
  background-color: #e94444;
}

ul {
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}

li,
button {
  font-size: 32px;
}

section {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

aside {
  width: 15vw;
  height: 100%;
  background-color: rgb(76, 168, 76);
}

footer {
  transform: translateY(100%);
  height: 15vh;
  background-color: rgb(79, 79, 214);
}
